<!DOCTYPE html>
<html>
    <head>
        <title>About | Ruby on Rails Tutorial Sample App</title>
    </head>
    <body>
        <h1>About</h1>
        <p>The <ahref="https://www.railstutorial.org/"><em>Ruby on RailsTutorial</em></a>, part of the<ahref="https://www.learnenough.com/">Learn Enough</a> family oftutorials, is a<ahref="https://www.railstutorial.org/book">book</a> and<ahref="https://screencasts.railstutorial.org/">screencast series</a>to teach web development with<ahref="https://rubyonrails.org/">Ruby on Rails</a>.This is the sample app for the tutorial.</p>
    </body>
</html>